body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 167, 248);
}

div{
    background-color: rgb(216, 191, 239);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}